<footer class="bg-white rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center">© <%= Date.today.year %> <a href="https://scottw.com" class="hover:underline">ScottW</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
        <li>
            <a href="https://www.weather.gov/documentation/services-web-api" class="hover:underline me-4 md:me-6">Weather API</a>
        </li>
        <li>
            <a href="https://nominatim.openstreetmap.org" class="hover:underline me-4 md:me-6">Geocoding API</a>
        </li>
    </ul>
    </div>
</footer>