<span>Your current local forecast: <%= @period.detailed_forecast %> <%= link_to "Full Forecast", weather_path(address:), class: "inline font-medium text-blue-600 underline dark:text-blue-500 underline-offset-2 decoration-600 dark:decoration-500 decoration-solid hover:no-underline" %></span>
