---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/bad,bad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 6c0c948
      X-Server-Id:
      - vm-lnx-nids-apiapp16.ncep.noaa.gov
      X-Edge-Request-Id:
      - 43138f4a
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "6c0c948",
            "parameterErrors": [
                {
                    "parameter": "path.point",
                    "message": "Does not match the regex pattern ^(-?\\d+(?:\\.\\d+)?),(-?\\d+(?:\\.\\d+)?)$"
                }
            ],
            "title": "Not Found",
            "type": "https://api.weather.gov/problems/NotFound",
            "status": 404,
            "detail": "Not Found",
            "instance": "https://api.weather.gov/requests/6c0c948"
        }
  recorded_at: Fri, 23 Aug 2024 21:33:24 GMT
recorded_with: VCR 6.3.1
