---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ttl:
      - '60'
      X-Rl:
      - '44'
    body:
      encoding: UTF-8
      string: '{"status":"success","country":"United States","countryCode":"US","region":"NJ","regionName":"New
        Jersey","city":"Warren Township","zip":"07059","lat":40.608,"lon":-74.5265,"timezone":"America/New_York","isp":"Verizon
        Business","org":"Verizon Business","as":"AS701 Verizon Business","query":"72.68.111.45"}'
  recorded_at: Fri, 23 Aug 2024 18:02:35 GMT
recorded_with: VCR 6.3.1
