---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/PHI/67,110/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 6aa0ee2
      X-Server-Id:
      - vm-lnx-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 388cdf8
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -74.537874500000001,
                            40.653695900000002
                        ],
                        [
                            -74.542224700000006,
                            40.631989400000002
                        ],
                        [
                            -74.513629900000012,
                            40.628687200000002
                        ],
                        [
                            -74.509273700000008,
                            40.650393399999999
                        ],
                        [
                            -74.537874500000001,
                            40.653695900000002
                        ]
                    ]
                ]
            },
            "properties": {
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2024-08-23T21:05:30+00:00",
                "updateTime": "2024-08-23T20:11:07+00:00",
                "validTimes": "2024-08-23T14:00:00+00:00/P7DT23H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 91.135199999999998
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "This Afternoon",
                        "startTime": "2024-08-23T17:00:00-04:00",
                        "endTime": "2024-08-23T18:00:00-04:00",
                        "isDaytime": true,
                        "temperature": 80,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": null
                        },
                        "windSpeed": "5 mph",
                        "windDirection": "W",
                        "icon": "https://api.weather.gov/icons/land/day/skc?size=medium",
                        "shortForecast": "Sunny",
                        "detailedForecast": "Sunny, with a high near 80. West wind around 5 mph."
                    },
                    {
                        "number": 2,
                        "name": "Tonight",
                        "startTime": "2024-08-23T18:00:00-04:00",
                        "endTime": "2024-08-24T06:00:00-04:00",
                        "isDaytime": false,
                        "temperature": 57,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
       [...]
